{% load static %}
<nav>
    <a href="{% url 'home' %}" target="_self"><img src="{% static 'img/d20_bonito.png' %}" alt="logo" class="dado20"></a>
    <ul class="nav-links">
        {% if user.username %}
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            <li><a href="{% url 'mestres' %}" target="_self">Mestre</a></li>
            <li><a href="{% url 'jogadores' %}">Jogador</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:cadastro' %}">Cadastro</a></li>
        {% endif %}
        {% if user.username %}
            <li><a href="{% url 'home_area_restrita' %}"> {{ user.username }}!</p></a></li>
        {% endif %}
        <!-- Vai ter uma verificação para checar se a pessoa está logada. Se ela estiver logada , exibirá as informaçoes abaixo-->

        
    </ul>
    
    <div class="menu-icon"><img class="grimoriobonito" src="{% static 'img/grimorio_bonito.png' %}" alt=""></div>

</nav>

<!-- https://prod.liveshare.vsengsaas.visualstudio.com/join?406E638738E133BEC71724884EE1643325CF -->