{% load static %}
<nav>
    <a href="#" target="_self"><img src="{% static 'img/d20_bonito.png' %}" alt="logo" class="dado20"></a>
    <ul class="nav-links">
        <li><a href="{% url 'mestres' %}" target="_self">Mestre</a></li>
        <li><a href="./jogador/index.html">Jogador</a></li>
    </ul>
    
    <div class="menu-icon"><img class="grimoriobonito" src="{% static 'img/grimorio_bonito.png' %}" alt=""></div>

</nav>

<!-- https://prod.liveshare.vsengsaas.visualstudio.com/join?406E638738E133BEC71724884EE1643325CF -->