{% extends "base.html" %}

{% load static %}

{% block 'title' %}Meus Personagens::{{ user.username }}{% endblock %}
{% block 'conteudo' %}
<h1>MEUS PERSONAGENS</h1>

<div class="container text-center">
  <div class="row">
    {% for p in personagens %}      
    <div class="col">
      <div class="card" style="width: 18rem;">
            <img src="{{p.avatar_personagem.url}}" class="card-img-top" alt="...">
            <div class="card-body bg-info">
                <h5 class="card-title">{{p.nome_personagem}}</h5>
                <p class="card-text">{{p.historia}}</p>
                <a href="{% url 'detalhes_personagem' p.id %}" class="btn btn-primary">Detalhes</a>
                <a href="{% url 'editar_personagem' p.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'deletar_personagem' p.id %}" class="btn btn-danger">Deletar</a>
            </div>
        </div>
    </div>
    {% endfor%}
  </div>
</div>


<a href="{% url 'cadastrar_personagem' %}" class="btn btn-success mt-3">Cadastrar novo personagem</a>


{% endblock %}
