{% extends "base.html" %}
{% load static %}
{% block 'conteudo' %}

    <h2>Área Restrita</h2>
    <main class="perfil">
        <div>
            {% if user.avatar %}
                <div class="bordinha"><img src="{{ user.avatar.url }}" alt="Avatar"></div>
                
            {% else %}
                <p>Sem avatar.</p>
            {% endif %}
            <p>Bem-vindo, {{ user.username }}!</p>
            <p>Bio: {{ user.bio }}</p>
            <p>Nascido em: {{ user.data_nascimento }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
        <div class="coluna">
            <div>
                <textarea name="cunserva" id="corovenha" cols="80" rows="10"></textarea>
            </div>
            <div class="ascoisadele">
                <div>
                    <h2>MINHAS CAMPANHAS</h2>
                    <i class="bi bi-plus-circle mais" ></i>
                </div>
                <div>
                    <h2>MEUS PERSONAGENS</h2>
                    <a href="{% url 'meus_personagens' %}"><i class="bi bi-plus-circle"></i></a>
                    
                </div>
            </div>
        </div>
    </main>
    

    

   
{% endblock %}