{% extends 'base.html' %}
{% load static %}

{% block 'conteudo' %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
        <br>
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}    
    {{usuario_dados}}

<h2>Cadastrar campanha</h2>
<form class="formulario" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="user" value={{user.username}}>
  <label>Nome:</label><br>
  <input class="pergunta" type="text" name="nome_campanha" required><br>
  <label>Descrição:</label><br>
  <input class="pergunta" type="text" name="descricao" required><br>
  <label>Imagem:</label><br>
  <input class="pergunta" type="file" name="imagem_de_capa" required><br>
  <label>data de inicio:</label><br>
  <input class="pergunta" type="date" name="data_inicio"><br>
  <label>data do fim:</label><br>
  <input class="pergunta" type="date" name="data_fim"><br>
<br>

  <button  type="submit" class="botao_criar_personagem">Cadastrar Campanha</button>
</form>
{% endblock %}