<div class="class_img_da_campanha">
    <img src="" alt="" class="borda_img_da_campanha" id="imagem_da_campanha">
</div>
    <h2 class="class_nome_da_campanha" id="nome_da_campanha"></h2>

    <h3 class="class_desc_da_campanha" id="desc_da_campanha"></h3>

    <div>
    <article class="inicio_fim">
        <section>
            <h3 class="letra_grande">INÍCIO</h3>
            <h2 class="letra_pequena" id="id_inicio"></h2>
        </section>
        <section>
            <h3 class="letra_grande">FIM</h3>
            <h2 class="letra_pequena" id="id_fim"></h2>
        </section>
    </article>
</div>

    <p class="class_anuncio_de_players">PLAYERS NA CAMPANHA:</p>
 
        <table class="tabela_de_personagens_campanha" id="id_tabela_de_personagens_campanha">
        <thead>
            <tr>
                <th scope="col" class="cor_colunas_tabela_de_players">Nome do Player</th>
                <th scope="col" class="cor_colunas_tabela_de_players">Nome do Personagem</th>
                <th scope="col" class="cor_colunas_tabela_de_players">Raça</th>
                <th scope="col" class="cor_colunas_tabela_de_players">Classe</th>
            </tr>
        </thead>
    </table>