{% load static %}

<main class="entrada">
    <!-- <img src="./imagens/d20s2_verde.png" alt=""> -->
      <h2  >O que é RPG?</h2>
      <div class="oqueRPG">
        <p>
          RPG,é um tipo de jogo em que os jogadores assumem os papéis de personagens fictícios e participam de uma história interativa.
          Nesse tipo de jogo, os jogadores tomam decisões que afetam a narrativa e o desenvolvimento dos personagens.

          O jogo pode ser realizado de diversas maneiras, como em mesas com papel, caneta e dados, ou em versões digitais, como jogos de computador ou videogame. O foco está na imersão, na criatividade e na interação entre os jogadores e o ambiente do jogo.
          O objetivo é viver uma aventura e fazer escolhas que moldam o rumo da história e o crescimento do personagem.
        </p>
        <img src="{% static 'img/silksong.jpg' %}" alt="">
      </div>
       
      
      
      <h2>Fichas Digitais</h2>
      <div class="oqueRPG">
        <img src="{% static 'img/FichaDigital.webp' %}" alt="">
        <div class="fichainfos">
          <p>Um tipo simples de ficha para nosso teste Inicial, contendo:
            <p>
              <b>Nome</b>
            </p>
            <p>
              <b>Raça</b>
            </p>
            <p>
              <b>Classe</b>
            </p>
            <p>
              <b>Atributos básicos</b>
            </p>
            <p>
              <b>Descrição</b>
            </p>
          </p>
        </div>
      </div>

      <h2 >Ferramentas para o Mestre</h2>
      <div class="oqueRPG">
        <div class="fichainfos">
          <p><b>Salvar suas campanhas</b></p>
          <p><b>Atribuir jogadores e dados</b></p>
          <p><b>Espaços para organizar as sessões e suas cenas</b></p>
        </div>
      
      <img src="{% static 'img/EscudoMestre.webp' %}" alt="">
      </div>
      
      

  </main>