<main>
    <!-- <img src="./imagens/d20s2_verde.png" alt=""> -->
      <h2 class="text-center" >O que é RPG?</h2>
       <p>RPG,é um tipo de jogo em que os jogadores assumem os papéis de personagens fictícios e participam de uma história interativa. Nesse tipo de jogo, os jogadores tomam decisões que afetam a narrativa e o desenvolvimento dos personagens.</p>
      
       <p>O jogo pode ser realizado de diversas maneiras, como em mesas com papel, caneta e dados, ou em versões digitais, como jogos de computador ou videogame. O foco está na imersão, na criatividade e na interação entre os jogadores e o ambiente do jogo. O objetivo é viver uma aventura e fazer escolhas que moldam o rumo da história e o crescimento do personagem.</p>
      <h2 class="text-center">Fichas Digitais</h2>
      <p>Um tipo simples de ficha para nosso teste Inicial, contendo <br><b>Nome</b><br><b>Raça</b><br><b>Classe</b><br><b>Atributos básicos</b><br><b>Descrição</b></p>
      <h2 class="text-center">Ferramentas para o Mestre</h2>
      <p><b>Salvar suas campanhas</b><br><b>Atribuir jogadores e dados</b><br><b>Espaços para organizar as sessões e suas cenas</b></p>

  </main>