{% extends 'base.html' %}
{% load static %}

{% block 'conteudo' %}
    <h2>Login</h2>
    {% if erro %}<p style="color:red;">{{ erro }}</p>{% endif %}
    <form class="formulario" method="post">
        {% csrf_token %}
        <label>Usuário:</label>
        <input class="pergunta" type="text" name="username"><br>
        <label>Senha:</label>
        <input class="pergunta" type="password" name="password"><br>
        <button class="botao_criar_personagem" type="submit">Entrar</button>
        <a href="{% url 'accounts:cadastro' %}">Criar conta</a>
    </form>
    
{% endblock %}