{% extends "base.html" %}
{% load static %}

{% block 'conteudo' %}
   <body class="body_players">
   
      <h1 class="leta_gande">PLAYERS ADICIONADOS:</h1>
      <div class="butoes">
         <button class="botao" onclick="adicionarJogador()">ADICIONAR PLAYERS</button>
      </div>
      <!-- Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="modalAddNovoPersonagemJogador" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAddNovoPersonagemJogadorLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalAddNovoPersonagemJogadorLabel">Adionar um novo personagem</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <form id="formPersonagem">
                     <input type="hidden" id="nomeID" >
                     <input class="form-control" autocomplete="off" type="text" id="nome" placeholder="Nome do personagem" required>
                     <label for="campanhas">Campanhas:</label>
                     <select class="form-control" id="campanhas" name="lista_campanhas" form="todas_as_campanhas">
                        <option value="-1" >Clique para escolher a campanha</option>
                     </select>

                     <input class="form-control" type="text" placeholder="Raça do personagem" id="raca" required>
                     <input class="form-control" type="text" placeholder="Classe do personagem" id="classe" required>
                     <input class="form-control" type="number" placeholder="Vida do personagem" id="vida" required>
                     <input class="form-control" type="number" placeholder="Mana do personagem" id="mana" required>          
                     <textarea class="form-control" id="descricao" name="descricaoEditar" placeholder="Descrição"  rows="4" cols="50" required></textarea>          
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class=""  onclick="adicionarPersonagem()" type="submit">Salvar Personagem</button>
               </div>
            </div>
         </div>
      </div>
      
      <div id="id_caixas_de_escolha_players">
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

      <script>
         const modalNovoPersonagem = new bootstrap.Modal(document.getElementById('modalAddNovoPersonagemJogador'));

         document.addEventListener("DOMContentLoaded", (event) => {
         if (!localStorage.getItem("jogadores")) {
         localStorage.setItem("jogadores", JSON.stringify({}));}
         carregarConteudo();
            
         });
         function carregarConteudo(){
           const caixas_de_escolha_players = document.getElementById("id_caixas_de_escolha_players");
         
           let conteudo_jogadores = JSON.parse(localStorage.getItem("jogadores"));
           for (const [nome_player, conteudo_personagens] of Object.entries(conteudo_jogadores)){        
               const divJogador = document.createElement("div");

               divJogador.setAttribute("id", `jogador_${nome_player}`);
               divJogador.setAttribute ('class', 'caixas_de_escolha_players')
               const divAddJogador = document.createElement("div");
               divAddJogador.innerHTML= `<h2>
                <button class="margin_botao_deletar botao" onclick="excluirJogador('${nome_player}')"><i class="bi bi-trash"></i></button>
                ${nome_player.toUpperCase().replaceAll("_"," ")}
                <button type="button" class="btn btn-primary botao margin_botao_editar" onclick="abrirModalAddPersonagem('${nome_player}')" >
               <i class="bi bi-plus-lg"></i>
               </button> 
               </h2>
               <hr>
               `
               divJogador.appendChild(divAddJogador);
         
         
               for (const [nome_personagem, dados_ficha] of Object.entries(conteudo_personagens)){
                 const divPersonagensJogador = document.createElement("div");
                 divPersonagensJogador.setAttribute("class", `personagem_${nome_personagem}`); 
                 let [campanha, raca, classe, vida, mana, descricao] = dados_ficha;
                 
                   divPersonagensJogador.innerHTML = `
                     <section id class="chops">
                     <button class="margin_botao_deletar botao" onclick=excluirPersonagem('${nome_player}','${nome_personagem}'); ><i class="bi bi-trash"></i></button>
                     <h2>${nome_personagem.replaceAll("_"," ")}</h2> <h2>(${nome_player.replaceAll("_"," ")})</h2>
                     <button class="margin_botao_editar botao" onclick=editarPersonagem('${nome_player}','${nome_personagem}'); ><i class="bi bi-pencil-fill"></i></button>
         
                     </section>

                     <hr>
                     <h3>CAMPANHA:</h3>
                     <h2 class='letra_pequena'>${campanha}</h2>
                     <h3>RAÇA:</h3>
                     <p>${raca}</p>
                     <h3>CLASSE:</h3>
                     <p>${classe}</p>
                     <h3>VIDA:</h3>
                     <p>${vida}</p>
                     <h3>MANA:</h3>
                     <p>${mana}</p>
                     <h3>DESCRIÇÃO:</h3>
                     <p>${descricao}</p>
                     <hr>
                   `;
         
         
                   divJogador.appendChild(divPersonagensJogador);
                   }
                   caixas_de_escolha_players.appendChild(divJogador);

         
           }
         }
         
         function excluirPersonagem(jogador, personagem){
           if (confirm(`Você deseja remover o ${personagem} do jogador ${jogador}`)) {       
             let conteudo_jogadores_remover_personagem = JSON.parse(localStorage.getItem("jogadores"));
           
           if (conteudo_jogadores_remover_personagem[jogador] && conteudo_jogadores_remover_personagem[jogador][personagem]){
               delete conteudo_jogadores_remover_personagem[jogador][personagem];
           } else {
               console.log(`Jogador ou personagem não encontrado.`);
           }
           localStorage.setItem("jogadores", JSON.stringify(conteudo_jogadores_remover_personagem));
         
           window.location.reload();
         } 
         
         
         }
         
         function abrirModalAddPersonagem(jog){
            conteudo_jogadores = JSON.parse(localStorage.getItem("jogadores"));
            campanhas_existentes = JSON.parse(localStorage.getItem("campanhas"));
            opcoes = document.getElementById('campanhas');
            //para limpar todo o formulário antes de preencher com novos conteúdos
            document.getElementById('formPersonagem').reset();

            for(let i=0;i<campanhas_existentes.length;i++){
               nova_opcao = document.createElement('option')
               nova_opcao.innerText = campanhas_existentes[i].nome
               opcoes.appendChild(nova_opcao)
            }
            
            
            

            // Exibe o ID da campanha na modal (você pode substituir por outros dados)
            document.getElementById("modalAddNovoPersonagemJogadorLabel").innerText = `Adionar um novo personagem para o jogador ${jog.toString()}` 
            document.getElementById("nomeID").value = jog.toString()
            // Exibe a modal
            modalNovoPersonagem.show();     
         }
         
         function adicionarPersonagem(){
            let conteudo_jogadores = JSON.parse(localStorage.getItem("jogadores")); 
            //event.preventDefault(); // Evita o envio do formulário e recarregamento da página

            const nome = (document.getElementById("nome").value).replaceAll(" ","_");

            const campanha = document.getElementById("campanhas").value;
            const raca = document.getElementById("raca").value
            const classe = document.getElementById("classe").value;
            const vida = document.getElementById("vida").value;
            const mana = document.getElementById("mana").value;
            const descricao = document.getElementById("descricao").value;

            // Verifica se todos os campos estão preenchidos
            //a key é o nome 
            const novoPersonagem = [                             
               campanha,
               raca,
               classe,
               vida,
               mana,
               descricao
            ]
            const jogador = document.getElementById("nomeID").value;
            
            let dados_do_personagens_do_jogador = conteudo_jogadores[jogador];
            console.log(nome)
            dados_do_personagens_do_jogador[nome] = novoPersonagem;
            
            conteudo_jogadores[jogador] = dados_do_personagens_do_jogador;
            localStorage.setItem("jogadores", JSON.stringify(conteudo_jogadores));

            location.reload();

         }
         function editarPersonagem(player, nome_personagem){
            document.getElementById("modalAddNovoPersonagemJogadorLabel").innerText = `Editar personagem ${nome_personagem}` 
            let campanhas_existentes = JSON.parse(localStorage.getItem("campanhas"));
            let conteudo_jogadores = JSON.parse(localStorage.getItem("jogadores")); 
            let personagem = conteudo_jogadores[player][nome_personagem];

            const form = document.getElementById("formPersonagem");
            document.getElementById("nomeID").value = player;
            let campo_nome_personagem = document.getElementById("nome");
            campo_nome_personagem.value = nome_personagem;
            campo_nome_personagem.setAttribute("disabled", "disabled")

            let opcoes = document.getElementById('campanhas');

            for(let i=0;i<campanhas_existentes.length;i++){
               nova_opcao = document.createElement('option')
               nova_opcao.innerText = campanhas_existentes[i].nome
               if (campanhas_existentes[i].nome === personagem[0]){
                  nova_opcao.setAttribute("selected", "selected");
               }
               opcoes.appendChild(nova_opcao)
            }
            

            document.getElementById("raca").value = personagem[1];
            document.getElementById("classe").value = personagem[2];
            document.getElementById("vida").value = personagem[3];
            document.getElementById("mana").value = personagem[4];
            document.getElementById("descricao").value = personagem[5];

            modalNovoPersonagem.show();

         }
         function adicionarJogador(){            
            let caixa_gande = document.getElementById('id_caixas_de_escolha_players');
            let nome = window.prompt('Nome do jogador...').replaceAll(" ","_");
            
            let jogadores = JSON.parse(localStorage.getItem("jogadores"));
            
            if(!jogadores.length>0){
               const divJogador = document.createElement("div");
               divJogador.setAttribute("id", `jogador_${nome}`);
               divJogador.setAttribute ('class', 'caixas_de_escolha_players')
               const divAddJogador = document.createElement("div");
               divAddJogador.innerHTML= `
                  <section id class="chops">
                  <button class="margin_botao_deletar botao" onclick=excluirJogador('${nome}'); ><i class="bi bi-trash"></i></button>
                  <h2>${nome.replaceAll("_"," ")}</h2>
                  <button class="margin_botao_editar botao" onclick=abrirModalAddPersonagem('${nome}'); ><i class="bi bi-plus-lg"></i></button>
                  </section>
               `
               divJogador.appendChild(divAddJogador);
                  
               caixa_gande.appendChild(divJogador)
               jogadores[nome] = {}
               localStorage.setItem("jogadores", JSON.stringify(jogadores));          
            }else{
               for (const [jogador_nome] of Object.entries(jogadores)) {
               if(nome.toLowerCase()===jogador_nome.toLowerCase()){
                  alert('Este jogador já existe!')
                  break
               }
               else{
                  const divJogador = document.createElement("div");
                  divJogador.setAttribute("id", `jogador_${nome}`);
                  divJogador.setAttribute ('class', 'caixas_de_escolha_players')
                  const divAddJogador = document.createElement("div");
                  divAddJogador.innerHTML= `
                     <section id class="chops">
                     <button class="margin_botao_deletar botao" onclick=excluirJogador('${nome}'); ><i class="bi bi-trash"></i></button>
                     <h2>${nome.replaceAll("_"," ")}</h2>
                     <button class="margin_botao_editar botao" onclick=abrirModalAddPersonagem('${nome}'); ><i class="bi bi-plus-lg"></i></button>
         
                     </section>
                  `
                  divJogador.appendChild(divAddJogador);
                  
                  caixa_gande.appendChild(divJogador)
                  console.log(caixa_gande)
                  jogadores[nome] = {}
                  localStorage.setItem("jogadores", JSON.stringify(jogadores));                  
                  break
               }
            }
            }
         }

         function excluirJogador(jogador) {
            if (confirm(`Tem certeza que deseja deletar o jogador ${jogador} e todos os seus personagens?`)) {
               let jogadores = JSON.parse(localStorage.getItem("jogadores"));

            if (jogadores[jogador]) {
               delete jogadores[jogador];
               localStorage.setItem("jogadores", JSON.stringify(jogadores));
               alert(`Jogador ${jogador} foi removido com sucesso.`);
               location.reload(); // recarrega a página para refletir as mudanças
            } else {
               alert("Jogador não encontrado.");
            }
  }
}
      </script>
      <script src="../js/tema.js"></script>
      <script src="../js/menu.js"></script>
   </body>
{% endblock %}